<div class="flex flex-col">
  <.flash_group flash={@flash} />
  <header class="border-b app-header border-slate-300 bg-slate-100">
    <.red_eye_logo />
  </header>
  <main class="flex">
    <aside class="flex-shrink-0 w-22">
      Watchlist
      Deals
    </aside>
    <article class="flex-grow">
      <%= @inner_content %>
    </article>
  </main>
</div>
<footer class="fixed bottom-0 left-0 w-screen bg-slate-900 text-slate-50 h-36">
  <b>Deals:</b>
</footer>
