<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "RedEye" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="antialiased bg-white dark:bg-slate-800 dark:text-slate-400">
    <div class="grid h-screen grid-cols-app-layout">
      <aside class="border-r shadow-inner border-slate-300 dark:border-transparent bg-slate-100 dark:bg-slate-900">
        <ul class="flex flex-col gap-1 mt-1">
          <li class="flex items-center justify-center">
            <.link
              href={~p"/"}
              class="p-2 border border-transparent rounded-md dark:hover:bg-slate-800 dark:hover:border-slate-700 text-zinc-900 hover:shadow-inner dark:text-zinc-500 dark:hover:text-amber-500 hover:text-amber-700 hover:bg-white hover:border-slate-300"
              title="Home"
              tabindex="0"
            >
              <.icon name={:home} solid class="w-5 h-5" />
              <span class="sr-only">Home</span>
            </.link>
          </li>
          <li class="flex items-center justify-center">
            <.link
              href={~p"/charts"}
              class="p-2 border border-transparent rounded-md dark:hover:bg-slate-800 dark:hover:border-slate-700 text-zinc-900 hover:shadow-inner dark:text-zinc-500 dark:hover:text-amber-500 hover:text-amber-700 hover:bg-white hover:border-slate-300"
              title="Data"
            >
              <.icon name={:chart_bar} solid class="w-5 h-5" />
              <span class="sr-only">Data</span>
            </.link>
          </li>
          <li class="flex items-center justify-center">
            <.link
              href={~p"/"}
              class="p-2 border border-transparent rounded-md dark:hover:bg-slate-800 dark:hover:border-slate-700 text-zinc-900 hover:shadow-inner dark:text-zinc-500 dark:hover:text-amber-500 hover:text-amber-700 hover:bg-white hover:border-slate-300"
              title="Home"
            >
              <.icon name={:circle_stack} solid class="w-5 h-5" />
            </.link>
          </li>
        </ul>
      </aside>
      <main class="pb-60">
        <div class="flex">
          <div class="flex items-center justify-center flex-grow">
            <div
              phx-update="ignore"
              id="date_time"
              class="flex font-mono text-sm leading-4 align-middle"
            >
              ...
            </div>
          </div>
          <div class="flex items-center mt-1">
            <.dropdown>
              <:trigger_element>
                <div class="inline-flex items-center justify-center w-full align-middle focus:outline-none dark:hover:text-amber-500 hover:text-amber-700">
                  <.icon name={:user} solid class="w-5 h-5" />
                  <HeroiconsV1.Solid.chevron_down class="w-4 h-4 ml-1 -mr-1 text-gray-400 dark:text-gray-100" />
                </div>
              </:trigger_element>
              <.dropdown_menu_item link_type="a" to={~p"/users/settings"}>
                <.icon name={:cog_6_tooth} class="w-5 h-5" /> Settings
              </.dropdown_menu_item>
              <.dropdown_menu_item link_type="a" to={~p"/users/log_out"} method={:delete}>
                <.icon name={:arrow_right_on_rectangle} class="w-5 h-5" /> Log out
              </.dropdown_menu_item>
            </.dropdown>
            <button
              class="px-4 dark:hover:text-amber-500 hover:text-amber-700"
              id="dark-toggle"
              phx-hook="Darkness"
            >
              <.icon name={:sun} solid class="w-5 h-5 mt-1" />
            </button>
          </div>
        </div>
        <%= @inner_content %>
      </main>
    </div>
  </body>
</html>
